[build]
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/api/donations"
  to = "/.netlify/functions/donations"
  status = 200

[[redirects]]
  from = "/api/analytics"
  to = "/.netlify/functions/analytics"
  status = 200

[[redirects]]
  from = "/admin/login"
  to = "/login.html"
  status = 200

[[redirects]]
  from = "/admin"
  to = "/admin.html"
  status = 200

